@page "/"
@inject NavigationManager NavigationManager


<div class="starter-template">

    <h1>Upcoming Trades</h1>
    <p class="lead">Browse trades-in-progress and participate!</p>
</div>

@foreach (Trade t in openTrades)
{
    <TradeViewSmall trade="t"></TradeViewSmall>

}
@*<CreateItem></CreateItem>*@

@code {
    TradeService.TradeServiceClient client;

    List<Trade> openTrades;

    protected override void OnInitialized()
    {
        client = Need4Service.GetTradeClient();
    }

    protected override void OnParametersSet()
    {
        openTrades = client.GetOpenTrades(new Google.Protobuf.WellKnownTypes.Empty()).Trades.ToList() ;
    }




}
