@page "/"
@inject NavigationManager NavigationManager


<div class="starter-template">

    <h1>Upcoming Trades</h1>
    <p class="lead">Browse trades-in-progress and participate!</p>
</div>

@foreach (Trade t in openTrades)
{
    <TradeViewSmall trade="t"></TradeViewSmall>
}

@foreach (Sale s in ongoingSales)
{
    <SaleViewSmall sale="s"></SaleViewSmall>
}
@*<CreateItem></CreateItem>*@

@code {
    TradeService.TradeServiceClient TradeClient;
    SaleService.SaleServiceClient SaleClient;

    List<Trade> openTrades;
    List<Sale> ongoingSales;

    protected override void OnInitialized()
    {
        TradeClient = Need4Service.GetTradeClient();
        SaleClient = Need4Service.GetSaleClient();

    }

    protected override void OnParametersSet()
    {
        openTrades = TradeClient.GetOpenTrades(new Empty()).Trades.ToList() ;
        ongoingSales = SaleClient.GetSales(new Empty()).Sales.ToList();
    }




}
