@page "/"
@inject NavigationManager NavigationManager


<div class="starter-template">

    <h1>Upcoming Trades</h1>
    <p class="lead">Browse trades-in-progress and participate!</p>
</div>

<TradeViewSmall></TradeViewSmall>
@*<CreateItem></CreateItem>*@
