
<div class="container">
    <div class="col-md-6">
        @foreach (ActionDetails a in tradeActionList.Actions.ToList())
        {
            <button type="button" class="btn btn-primary" @onclick="@(_ => NavigationManager.NavigateTo(Utility.ActionRoute(a.Method, actionKeyValuePairs)))">
                @a.Name
            </button>
        }
    </div>
</div>


@code {
    [Parameter]
    public ActionList tradeActionList { get; set; }
    [Parameter]
    public Dictionary<string, string> actionKeyValuePairs { get; set; }
}
