@using Need4Protocol;
@using XYZ.Data
@inject Need4Service Need4Service

<h3>ItemList</h3>


@if (list != null)
{
    <div>
    @foreach (Item i in list.Items)
    {
        <br />
        <span>Name: @i.Name </span>
    }
    </div>
}


@code {
    ItemList list = new ItemList();
    private ItemRepository.ItemRepositoryClient itemClient;

    //private async Task
    protected override void OnInitialized()
    {
        itemClient = Need4Service.GetItemClient();
    }

    private async Task Refresh()
    {
        list = await Task.Run(() => itemClient.GetAllItems(new Google.Protobuf.WellKnownTypes.Empty()));
    }

}