<h3>ItemList</h3>


@if (list != null)
{
    <div>
    @foreach (Item i in list.Items)
    {
        <br />
        <span>Name: @i.Name </span>
    }
    </div>
}


@code {
    [Parameter]
    public ItemList list { get; set; }
}