

<p>Sale ID: @sale.Id</p>
@foreach (var d in sale.SaleItemList.SaleItemDetails)
{
    <div class="row mb-3">
        <div class="col-lg-4 themed-grid-col">@d.Item.Name</div>
        <div class="col-lg-4 themed-grid-col">@d.Item.EstimatedCost</div>
    </div>
}

@code {
    [Parameter]
    public Sale sale { get; set; }
}
