
@using _Trade = StaticData.Constants._Actions._Trade; 

@if (TradeIsPopulated(@trade))
{
    <div @onclick="@(_ => NavigationManager.NavigateTo(Utility.ActionRouteReplaceSingle(_Trade.GET, trade.Id.ToString())))">
        <p>Trade started: @trade.TimeStarted</p>
        <div class="row mb-3">
            @foreach (TradeItemDetails i in trade.TradeItemList.TradeItemDetails.ToList())
            {
                <div class="col-lg-4 themed-grid-col">@i.Item.Name</div>
            }
        </div>
    </div>
}
else
{
    <p>No trade with ID "@trade.Id" exists</p>
}

@code {
    [Parameter]
    public Trade trade { get; set; }

    bool TradeIsPopulated(Trade t)
    {
        return trade.TradeItemList != null && trade.TradeItemList.TradeItemDetails != null;
    }
}
