
@*@<a href="/TradeViewDetails">Details</a>*@

@if (TradeIsPopulated(@trade))
{
<div @onclick="@(_ => NavigationManager.NavigateTo(String.Format("/TradeViewDetails/{0}", trade.Id)))">
    <p>Trade started: @trade.TimeStarted</p>
    <div class="row mb-3">
    @foreach (TradeItemDetails i in trade.TradeItemList.TradeItemDetails.ToList())
    {
        <div class="col-lg-4 themed-grid-col">@i.Item.Name</div>
    }
    </div>
</div>
}
else
{
    <p>No trade with ID "@trade.Id" exists</p>
}

@code {
    [Parameter]
    public Trade trade { get; set; }

    override protected void OnParametersSet()
    {
    }
    bool TradeIsPopulated(Trade t)
    {
        return trade.TradeItemList != null && trade.TradeItemList.TradeItemDetails != null;
    }
}
