<p>Trade started: 10/10/2020 11:30am</p>

<a href="/TradeViewDetails">Details</a>
<div class="row mb-3">
    <div class="col-lg-4 themed-grid-col">.col-lg-4</div>
    <div class="col-lg-4 themed-grid-col">.col-lg-4</div>
    <div class="col-lg-4 themed-grid-col">.col-lg-4</div>
</div>


@code {

}
