@page "/trade/get/{tradeId:int}"
@inherits XYZ.Actions.BasicTradeAction
@using _Trade = StaticData.Constants._Actions._Trade; 

<h3>Get Trade</h3>

<TradeViewSmall trade="@tradeActionResponse.Trade"></TradeViewSmall>
<ActionButtonsView tradeActionList="@tradeActionResponse.NextActions" actionKeyValuePairs="@actionKeyValuePairs"></ActionButtonsView>

@code {

    public override void DoAction()
    {
        TradeActionRequest tradeActionRequest = new TradeActionRequest { ActionName = _Trade.GET, TradeUserInfo = tradeUserInfo };
        tradeActionResponse = tradeClient.DoTradeAction(tradeActionRequest);
    }

}

