@page "/trade/join/{tradeId:int}"
@inherits AuthenticatedTradeAction
@using _States = StaticData.Constants._States; 
@using StaticData.Constants; 

<h3>JoinTrade</h3>

@if(authorization.Result.Succeeded)
{
    <p>Have permission</p>
    <p> called with variables:</p>
    <p> tradeId: @tradeId </p>
}
else
{
    <p>DONT Have permission</p>
}

@code {

    public override void DoAction()
    {
        tradeUserRequest.State = new State { Description = _States._TradeUser.JOINED };
        tradeClient.AddTradeUserState(tradeUserRequest);

        // add permission

        RelationshipType relationshipType = new RelationshipType { Name = _Tables.TRADE_USER };
        PermissionType permissionType = new PermissionType { Name = _Permissions.PARTICIPATE };
        PermissionRequest permissionRequest = new PermissionRequest
        {
            PermissionType = permissionType,
            RelationshipType = relationshipType,
            Key1 = tradeUserRequest.TradeId,
            Key2 = tradeUserRequest.AuthenticatedUserId
        };
        var permissions = tradeClient.AddPermission(permissionRequest);
    }
}
