@page "/trade/watch/{tradeId:int}"
@inherits AuthenticatedTradeAction

@using Helpers
@inject IAuthorizationService AuthorizationService
@inject IHttpContextAccessor HttpContextAccessor

<h3>WatchTrade</h3>

@if (authorization.Result.Succeeded)
{
    <p>Have permission</p>
    <p> called with variables:</p>
    <p> tradeId: @tradeId </p>
}
else
{
    <p>DONT Have permission</p>
}

@code {

    public override void DoAction()
    {
        //throw new NotImplementedException();
    }
}
