@page "/trade/withdraw/{tradeId:int}"
@inherits AuthenticatedTradeAction
@using _States = StaticData.Constants._States;
@using StaticData.Constants;


<h3>Withdraw</h3>

@code {        



    public override void DoAction()
    {
        throw new NotImplementedException();
    }
}

