@inherits LayoutComponentBase


<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>
