@page "/communities/about" 
<h3>About communities</h3>

Communities are groups of individuals who are connected by trust and reputation. 
Membership in a top tier community is a privilege, as it affords the members a welcoming group of individuals 
who have shown through their actions, and the confidence of others, that they are worthy of trust.
As with any privilege, it can be taken away - when trust is broken, or deals are not upheld, or due to disruptive behavior. 
<br />
<br />
When a member is in violation of community trust, they are moved to a lower tier community. They lose access to the posts, sales, 
and trades of their former community. The member will have gained a new community, one which is full of members with similar standards.
If the member wishes to rise to their former tier community, they can apply with the community, which will vote on reinstatements.
<br />
<br />
The voting process consists of a review of the member's actions, prior and current, which will be considered by members of the new community.
If the member is accepted into the higher tier, they will lose membership in the lower tier. 
<br />
<br />
As a member, it is important to understand that individual actions have an effect on the community. 
This is why self-regulated communities exist, to ensure that the maximum benefit can be provided to each member, and that each member will have a place of belonging.

@code {

}
