@page "/communities"
<h3>ShowAll</h3>

@foreach(string community in communityList)
{
    <ul>
        <li>@community</li>
    </ul>

}

@code {
    private readonly List<string> communityList = new List<string> { "Newmarket" };

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var communityClient = Need4Service.GetCommunityClient();
        var communities = communityClient.GetAllCommunities(new Empty()).Communities.ToList();

        if (communities.Count > 0)
            communityList.Clear();

        var q = from x in communities
                orderby x.Tier ascending
                select x;

        foreach(var community in q)
        {
            communityList.Add(community.Name);
        }

    }

}
